<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sirtts.hcp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".loginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DashBoardActivity"
            android:label="@string/title_activity_dash_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VitalSignsActivity"
            android:label="@string/title_activity_vital_signs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BloodVitalSignsActivity"
            android:label="@string/title_activity_blood_vital_signs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TempVitalSignsActivity"
            android:label="@string/title_activity_temp_vital_signs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HeartVitalSignsActivity"
            android:label="@string/title_activity_heart_vital_signs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RespVitalSignsActivity"
            android:label="@string/title_activity_resp_vital_signs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListBloodVitalSignsActivity"
            android:label="@string/title_activity_list_blood_vital_signs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListtempVitalSignsActivity"
            android:label="@string/title_activity_listtemp_vital_signs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListheartVitalSignsActivity"
            android:label="@string/title_activity_listheart_vital_signs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListrespVitalSignsActivity"
            android:label="@string/title_activity_listresp_vital_signs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PeriodActivity"
            android:label="@string/title_activity_period"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListperiodActivity"
            android:label="@string/title_activity_listperiod"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SugarActivity"
            android:label="@string/title_activity_sugar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListsugarActivity"
            android:label="@string/title_activity_listsugar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DentistVisitsActivity"
            android:label="@string/title_activity_dentist_visits"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListDentistVisitsActivity"
            android:label="@string/title_activity_list_dentist_visits"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BloodActivity"
            android:label="@string/title_activity_blood"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListBloodActivity"
            android:label="@string/title_activity_list_blood"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BloodDetailsActivity"
            android:label="@string/title_activity_blood_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>